out/*
/target/
target/
# Arquivos de Log
*.log
logs/

# Configurações de IDE específicas do usuário
.vscode/
.idea/
nbproject/private/
*.nbuser
*.user
.project
.classpath
.settings/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
*~

# Arquivos de ambiente 
/src/main/resources/config.properties